.App {
  text-align: center;
  font-family: 'Teko', sans-serif;
}

.form-group {
  width: 60%;
}

#thought-box {
  width: 100%;
}

.theForm{
  padding: 70px;
  margin-left: 240px;
}

.theVibeSearch {
  width: 60%;
  padding: 60px;
  margin-left: 240px;
}

.list-group-item {
  font-family: 'Teko', sans-serif;
  color: red;
  font-size: x-large;
  border-style: double;
  border-width: unset;
  border-color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
